/* similar styles in cards */
.result-card {
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
	width: 100%;
	min-width: 150px;
	max-width: calc(100% - 50px);
	margin: 0 0 10px 0;
}

.card-data {
	width: calc(100% - 100px);
	cursor: pointer;
}

.card-data h4,
.card-data h5,
.card-data h6 {
	/* width: calc(100px); */
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-data h4 {
	line-height: 19px;
	color: var(--color-6);
	font-weight: 500;
}

.card-data h5,
.card-data h6 {
	line-height: 17px;
	color: var(--color-4);
	font-weight: 400;
}

.playlist-card-thumbnail,
.album-card-thumbnail,
.artist-card-thumbnail,
.video-card-thumbnail,
.song-card-thumbnail {
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* box card */
.box-card {
	/* height: 275px; */
	text-overflow: ellipsis;
}

.box-card-thumbnail,
.box-card-thumbnail img {
	width: 150px !important;
	height: 150px !important;
	object-fit: cover;
}

.box-card-data h4 {
	margin: 10px 0 0 0;
	/* show 2 lines than ... */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.box-card-data h5,
.box-card-data h6 {
	margin: 0;
	color: var(--color-4);
}

/* song card */
.song-card-thumbnail,
.song-card-thumbnail img {
	background-color: var(--color-1);
	width: 60px !important;
	height: 60px !important;
	border-radius: 0 !important;
	object-fit: cover;
}

/* video card */
.video-card-thumbnail,
.video-card-thumbnail img {
	width: 106px !important;
	height: 60px !important;
	border-radius: 0 !important;
	object-fit: cover;
}

/* artist card */
.artist-card-thumbnail,
.artist-card-thumbnail img {
	width: 60px !important;
	height: 60px !important;
	border-radius: 50px !important;
	object-fit: cover;
}

/* album and playlist card */
.playlist-card-thumbnail,
.playlist-card-thumbnail img,
.album-card-thumbnail,
.album-card-thumbnail img {
	width: 70px !important;
	height: 70px !important;
	border-radius: 0px !important;
	object-fit: cover;
}